# Data Science Tools and Ecosystem

## Author
Vyncent Lowery

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
* Knowledge of popular languages utilised in Data Science
* Knowledge of popular libraries utilised in Data Science
* Knowledge of popular tools utilised in Data Science
* How to convert between markdown and code cells
* How to create different types of headings

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy (Python)
2. Pandas (Python)
3. Matplotlib (Python)
4. Tensorflow (Python)
5. Caret (R)
6. GGPLOT2 (R)

| Data Science Tools |
|--------------------|
| Jupyter Notebook |
| R Studio |
| VS Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [26]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [28]:
# This will convert 200 minutes to hours by diving by 60

200 / 60

3.3333333333333335